<ion-view title="TodoApp">

    <ion-nav-buttons side="right">
        <a class="button button-clear" ui-sref="cadastro">
            Add
        </a>
    </ion-nav-buttons>

    <ion-content>

            
          <div class="list list-inset">
            <label class="item item-input">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="text" placeholder="Search" ng-model="search">
            </label>
          </div>
          <ion-list>
          <ion-item class="item-icon-left" ng-repeat="tarefa in tarefas | filter: search | orderBy: [nome, descricao] ">
              <i class="icon {{(tarefa.concluida ? 'ion-ios-circle-outline' : 'ion-ios-checkmark-outline')}}"></i>
              <h2>{{tarefa.nome}}</h2>
              <p>{{tarefa.descricao}}</p>
           </ion-item>         
         
        </ion-list>
    </ion-content>
</ion-view>